<template>
    <div>
        <div class="ad" v-for="(item,index) in foodList">
            <p>{{item.foodName}} - {{item.calories}} kcal</p>
            <button @click="removeItem(index)">X</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FoodList",
        data () {
          return {
              foodList: []
          }
        },
        methods: {
            addItem : function (message) {
                const split = message.split("$");
                this.foodList.push({foodName: split[0], calories: split[1]});
            },

            removeItem : function (index) {
                this.foodList.splice(index,1);
            }
        }
    }
</script>

<style scoped lang="scss">
    p {
        text-transform: capitalize;
        display: inline-block;
        margin: 10px;
    }

    button {
        border: none;
        margin-left: 15px;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        background-color: #D2534B;
    }

</style>