<template>
  <div>
    <h1>Track your calories below</h1>
    <label>
      Item name <br />
      <input id="nameInput" placeholder="Ate something again?" />
    </label>
    <label>
      Calories <br />
      <input id="caloriesInput" placeholder="You bouncy castle" />
    </label>
    <button @click="sendInput">Add</button>
  </div>
</template>

<script>
export default {
  name: "FoodInputField",
  methods: {
    sendInput: function() {
      // store input fields
      const nameInput = document.getElementById("nameInput");
      const caloriesInput = document.getElementById("caloriesInput");

      // check for values and send
      if (nameInput.value && caloriesInput.value) {

        if (/^\d+$/.test(caloriesInput.value)) {
            const message = nameInput.value + "$" + caloriesInput.value;
            this.$emit("add-item", message);

            // reset fields
            nameInput.value = "";
            caloriesInput.value = "";
        }  else {
            alert("The calories input can have only numeric values!");
        }


      } else {
        alert("Please complete both fields!");
      }
    }
  }
};
</script>

<style scoped>
label {
  display: inline-block;
  text-align: left;
  margin: 5px;
}
</style>
