<template>
  <div class="food-tracker">
    <FoodInputField v-on:add-item="addItem"></FoodInputField>
    <FoodList ref="list"></FoodList>
  </div>
</template>

<script>
import FoodList from "../components/FoodList";
import FoodInputField from "../components/FoodInputField";
export default {
  name: "food-tracker",
  components: { FoodInputField, FoodList },
  methods: {
    addItem: function(value) {
      this.$refs.list.addItem(value);
    }
  }
};
</script>
