<template>
  <div class="loginForm">
    <h1>Please log in to continue</h1>
    <label>
      <input id="usernameInput" placeholder="Username" />
    </label>
    <label>
      <input id="passwordInput" type="password" placeholder="Password" />
    </label>
    <button @click="pingServer">Log In</button>

    <h3>
      Don't have an account? <router-link to="/register">Register</router-link>
    </h3>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",
  methods: {
    login: function() {
      const username = document.getElementById("usernameInput").value;
      const password = document.getElementById("passwordInput").value;

      if (username && password) {
        // check credentials
        if (username === "Raducu" && password === "raducu0207") {
          this.$router.push("food-tracker");
        } else {
          alert("Username/Password combination didn't match");
          document.getElementById("passwordInput").value = "";
        }
      } else {
        alert("Fill both fields please");
      }
    },

    pingServer: function() {
      axios
        .post("http://localhost:4000/graphql", {
          query: `{message}`
        })
        .then(res => {
          console.log(res);
        });
    }
  }
};
</script>

<style scoped lang="scss">
label {
  display: block;
}

button {
  margin-top: 10px;
}

a {
  color: #2c3e50;
  &:hover {
    color: #42b983;
  }
}
</style>
