<template>
  <div class="registerForm">
    <h1>Create a new account</h1>
    <label>
      <input placeholder="Username" />
    </label>
    <label>
      <input placeholder="Email" />
    </label>
    <label>
      <input placeholder="Password" />
    </label>
    <button>Submit</button>

    <h3>Already have an account? <router-link to="/">Log In</router-link></h3>
  </div>
</template>

<script>
export default {
  name: "Register"
};
</script>

<style scoped lang="scss">
button {
  margin-top: 10px;
}

label {
  display: block;
}

a {
  color: #2c3e50;
  &:hover {
    color: #42b983;
  }
}
</style>
